<nav class="col-md-12  navbar navbar-expand navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/index.html" routerLinkActive="active" ariaCurrentWhenActive="page">Trang
        chủ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_1.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_2.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_3.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_4.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_5.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_6.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/Lab2_7.html" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        7</a>
    </li>
  </ul>
</nav>
