<section class="section-title">
  <h2>Bài tập Lab2</h2>
  <div class="section-links">
      <ul>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab2_1.html">Bài
            1</a>
        </li>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab2_2.html" >Bài
            2</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab2_3.html" >Bài
            3</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab2_4.html">Bài
            4</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab2_5.html">Bài
            5</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="#" routerLink="/Lab2_6.html">Bài
            6</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab2_7.html">Bài
            7</a>
        </li>
      </ul>
  </div>
</section>
